
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="/commonfile.css">
<link rel="stylesheet" type="text/css" href="/adminhome.css">
</head>
<body>

	<!-- <form action="addsong">
		
			<input type="submit" value="ADD SONG" >
		</form>
		<br />
	
		<form action="viewsongs">
			<input type="submit" value="VIEW SONG">
		</form>
		<br />
	
		<form action="createplaylists">
			<input type="submit" value="CREATE PLAYLIST">
		</form>
		<br />
	
		<form action="viewplaylists">
			<input type="submit" value="VIEW PLAYLIST">
		</form>
		<br />
		
		<form action="logout">
			<input type="submit" value="LOGOUT">
		</form> -->
	<div class="container">
		<form action="addsong">
			<button type="submit">
				<img
					src="https://cdn.iconscout.com/icon/premium/png-256-thumb/add-music-1906900-1616646.png"
					alt="Add Song">
				<p>ADD SONG</p>
			</button>
		</form>
		<form action="viewsongs">
			<button type="submit">
				<img
					src="https://cdn-icons-png.flaticon.com/512/3318/3318614.png"
					alt="View Song">
				<p>VIEW SONG</p>
			</button>
		</form>
		<form action="createplaylists">
			<button type="submit">
				<img src="https://static.thenounproject.com/png/2171414-200.png"
					alt="Create Playlist">
				<p>CREATE PLAYLIST</p>
			</button>
		</form>
		<form action="viewplaylists">
			<button type="submit">
				<img
					src="https://static.thenounproject.com/png/313974-200.png"
					alt="View Playlist">
				<p>VIEW PLAYLIST</p>
			</button>
		</form>
		<form action="logout">
			<button type="submit">
				<img
					src="https://icons.veryicon.com/png/o/miscellaneous/fusion-number/logout-40.png"
					alt="Logout">
				<p>LOGOUT</p>
			</button>
		</form>
	</div>

</body>
</html>