<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
	<form action="/validate" method="post" class="form1">
		<h2 class="h2">LOGIN HERE</h2>

		<!-- <label>Email:</label>
	<input type="email" name="email"/>
	<br><br>
	
	<label>Password:</label>
	<input type="password" name="password"/>
	<br><br>
	
	<input type="submit" value="LOGIN"/> -->

		<input type="text" placeholder="Username/Email" class="input"
			name="email" required /> <input type="password"
			placeholder="Password" class="input" name="password" required /> <a
			class="a" href="passwordreset.html">Forgot Password</a><br>
		<br>


		<button class="btn" type="submit" value="submit">LOGIN</button>
		<br>
		<br>
		<div class="in">
			<p>Don't have account?</p>
			<a id="a" href="registration">Register</a>
		</div>



	</form>
</body>
</html>